Feedback from Media Types Early Review

Reviewed by Murray Kucherawy:

- Required: "none" should be "N/A", otherwise you might be defining a parameter called "none"

- everywhere you say "See Author's Address section", add "of [this document]".

- for Encoding Requirements, Section 4.8 of RFC6838 technically says you have to say one of "7bit", "8bit", "binary" and "ascii"; sounds like you probably want "binary"?

- generally, the templates can't refer to RFC 4329 if you plan to obsolete it; they should refer to this document or something else that won't be obsolete when this is published

Related to #18 